<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JobAutoTemplate.Properties.Settings.WolfApproveCore_tym_ypmtConnectionString"
            connectionString="Data Source=DESKTOP-SHLJS2M\SQLEXPRESS2019;Initial Catalog=WolfApproveCore.tym-ypmt;User ID=sa;Password=pass@word1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="dbConnectionStringWolf" value="data source=DESKTOP-MTFBHTV\SQLEXPRESS;initial catalog=WolfApproveCore.ypmt-prd;persist security info=True;user id=sa;password=pass@word1;" />
		<add key="BaseAPI" value="http://devapi2tym.wolfapprove.com//" />
		<add key="LogFile" value="C:\job_yamaha\JobAutoTemplate\Log\" />
		<add key="EmpCode" value="660095" />
		<add key="DataTime_Run" value="04/01/|04/08" />
		<add key="IntervalTimeMinute" value="-6" />
	</appSettings>
</configuration>